<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>

    body, * {
        box-sizing: border-box;
        font-family: Arial, Helvetica, sans-serif;
    }

    .wrapper {
        background-color: #E5E5E5;
        padding: 40px 20px;
        margin: 0 auto;
        max-width: 928px;
    }

    .dark-blue {
        color: #00497B
    }

    .header-data {
        max-width: 728px;
        background: linear-gradient(0deg, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), #BCE4FA;
        min-height: 113px;
        padding: 32px 16px;
    }

    .products-icons {
        max-width: 100%;
    }

    .logo {
        width: 150px;
    }

    table {
        display: table;
        float: right;
        padding-top: 16px !important;
    }

    .folow-us {
        display: none;
        color: #336d95;
        font-weight: 600;
        font-size: 12px;
        line-height: 20px;
    }

    .content {
        max-width: 728px;
        background-color: #fff;
        padding: 16px;
        border-bottom: 2px solid #00497B;
    }

    h2 {
        font-size: 28px;
        font-weight: 700;
        margin-bottom: 32px;
        line-height: 36px;
        margin-top: 0;
    }

    .text-sm-table {
        font-size: 10px;
        line-height: 18px;
        margin-top: 0;
        display: block;
    }

    .text-sm {
        font-size: 10px;
        line-height: 18px;
        margin-top: 0;
        display: block;
    }

    .legal{
        padding-right: 100px;
    }

    .no-margin {
        margin: 0;
    }

    ul {
        margin-top: 0;
        margin-bottom: 32px;
    }

    li {
        font-size: 14px;
        line-height: 24px;
    }

    .signature {
        font-size: 12px;
        font-weight: 700;
        line-height: 24px;
    }

    .footer-data {
        color: #666666;
        font-size: 11px;
        line-height: 16px;
        max-width: 728px;
        margin-top: 32px;
    }

    a {
        color: #000;
    }

    @media only screen and (min-width: 576px) {
        .wrapper {
            padding: 100px;
        }

        .header-data {
            padding: 32px 64px;
        }

        .content {
            padding: 64px;
        }
    }

    @media only screen and (max-width:763px){
        .text-sm-table{
            display: inline;
        }
        .legal{
            padding-right: 20px;
        }
    }

    @media only screen and (min-width: 700px) {
        .folow-us {
            display: inline;
        }
    }</style>
</head>
<body>
<div class="wrapper">
    <div style="max-width: 728px; background: linear-gradient(0deg, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), #BCE4FA; min-height: 113px; padding: 32px 16px;">
        <div>
        <img class="logo" src="https://bcr-adv-assets.s3.eu-central-1.amazonaws.com/logo.png">
            <table>
                <tbody>
                <tr>
                    <td><p class="folow-us">Urmărește-ne și pe:</p></td>
                    <td><a href="https://www.facebook.com/BCRAsigurarideViataVIG/">
                        <div><img src="https://bcr-adv-assets.s3.eu-central-1.amazonaws.com/facebook.png"></div>
                    </a></td>
                    <td><a href="https://ro.linkedin.com/company/bcr-asigurari-de-viata-vienna-insurance-group">
                        <div><img src="https://bcr-adv-assets.s3.eu-central-1.amazonaws.com/linkedin.png"></div>
                    </a></td>
                    <td><a href="https://www.youtube.com/channel/UCa5izGoWTbwqAp1Tay3kamA">
                        <div><img src="https://bcr-adv-assets.s3.eu-central-1.amazonaws.com/youtube.png"></div>
                    </a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="content">
        <h2 style="box-sizing:border-box;font-family:Arial,Helvetica,sans-serif;font-size:28px;font-weight:700;margin-bottom:8px;line-height:36px;margin-top:0">
            Actualizarea datelor tale personale</h2>
        <p class="text-sm"
           style="box-sizing:border-box;font-family:Arial,Helvetica,sans-serif;font-size:14px;line-height:24px;margin-top:0;margin-bottom:32px"></p>
        <p class="text-sm"
           style="box-sizing:border-box;font-family:Arial,Helvetica,sans-serif;font-size:14px;margin-top:0">
            Dragă client,</p>
        <p class="text-sm"
           style="box-sizing:border-box;font-family:Arial,Helvetica,sans-serif;font-size:14px;margin-top:0">
            Ne bucurăm că ți-ai actualizat datele personale pe Portalul BCR Asigurări de Viață
            VIG. Acum, vom putea păstra legătura mai simplu și rapid, pentru că suntem aproape
            de tine la un click distanță.</p>
        <p class="text-sm"
           style="box-sizing:border-box;font-family:Arial,Helvetica,sans-serif;font-size:14px;margin-top:0">
            În cazul în care nu ai efectuat modificarea datelor tale personale în
            https://clienti.bcrasigviata.ro, te rugăm să ne transmiți un e-mail pe
            clienti@bcrasigviata.ro.</p>
        <p class="signature"
           style="margin-bottom:20px;box-sizing:border-box;font-family:Arial,Helvetica,sans-serif;font-size:14px;margin-top:0">
            <strong>Pe curând,<br>Echipa BCR Asigurări de Viață Vienna Insurance Group S.A.</strong></p>
        <p class="text-sm-table" style="margin-top:10px;height: 0;margin-bottom: 10px">BCR Asigurări de Viață Vienna Insurance Group Societate
            administrată în sistem dualist;</p>
        <table style="display: block;float: none;width:100%">
            <tbody>
            <tr>
                <td class="legal"><p class="text-sm"
                                     style="box-sizing:border-box;font-family:Arial,Helvetica,sans-serif;margin-top:0">
                    Operator de date cu caracter personal nr. 4822;<br>
                    Înscris în Registrul Asigurătorilor sub nr. RA 055/ 28.11.2005;<br>
                    Capital Social: 135.642.430 LEI;<br>
                    Cod LEI 529900W3WGW631HK2G98
                </p></td>
                <td><p class="text-sm"
                       style="box-sizing:border-box;font-family:Arial,Helvetica,sans-serif;margin-top:0">
                    Str. Rabat nr. 21, sector 1, 011835, București<br
                        style="box-sizing:border-box;font-family:Arial,Helvetica,sans-serif">+40/
                    212
                    069 040<br
                        style="box-sizing:border-box;font-family:Arial,Helvetica,sans-serif"><a
                        href="mailto:clienti@bcrasigviata.ro"
                        style="box-sizing:border-box;font-family:Arial,Helvetica,sans-serif;color:#000">clienti@bcrasigviata.ro</a><br
                        style="box-sizing:border-box;font-family:Arial,Helvetica,sans-serif"><a
                        href="https://www.bcrasigviata.ro/"
                        style="box-sizing:border-box;font-family:Arial,Helvetica,sans-serif;color:#000">www.bcrasigviata.ro</a>
                </p></td>
            </tr>
            </tbody>
        </table>
    </div>
    <footer class="footer-data"><p class="no-margin"><i>[Confidențialitate] BCR Asigurări de Viață VIG S.A. informează
        că acest e-mail este destinat exclusiv destinatarului şi poate conţine informaţii confidenţiale. Distribuţia
        neautorizată, modificarea sau divulgarea conţinutului acestui e-mail este interzisă. Dacă aţi primit acest
        e-mail din greşeală, vă rugăm să anunţaţi expeditorul printr-un reply. Vă rugăm de asemenea să ştergeţi acest
        e-mail din sistemul dumneavoastră şi să nu-l copiaţi sau să divulgaţi conţinutul său niciunei alte persoane.
        Transmiterea acestui e-mail nu poate fi considerată sigură, întrucât informaţiile ar putea fi interceptate,
        corupte, pierdute, distruse, sosite cu întârziere, incomplete sau virusate. Prin urmare, BCR Asigurări de Viață
        VIG S.A. îşi declină orice responsabilitate în privinţa oricăror erori sau omisiuni în conţinutul acestui mesaj,
        care apar ca urmare a transmiterii acestui e-mail. Informaţii, opinii sau concluzii conţinute în acest mesaj
        care nu se referă la afacerile/ informațiile oficiale ale companiei se consideră a nu fi aprobate de
        aceasta.</i></p></footer>
</div>
</body>
</html>
